html
{
    background: #ccc;
}

body
{
    width: 640px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #333;
    background: #fff;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

